* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
    color: white;
}

nav {
    background-color: rgb(18, 22, 92);
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(72, 49, 165);
    transition: 0.5s;
    
}

div {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding-left: 40px;
}

div span {
    color: blueviolet;
}

nav ul li a:hover {
    color: rgb(44, 136, 159);
    text-decoration: underline;
    
    
}

div img {
    width: 65px;
    height: 65px;
}
